extends layout

block body
	.jumbotron
		+navbar("Colenso Project", "dropdown_menu")
			+nav_item("/", "active") Home
			+nav_item("/list") Document list
			+nav_item("/search") Search
			+nav_item("/add") Add Document
		.container
			h1= title
			p| Welcome to #{title}.
			p Here you can search through and look at documents in the Colenso Letter database.
			p For more information click on the link below
			a(href = "http://www.williamcolenso.co.nz/")
				p here is a link to the Colenso Official Website
		
