extends layout
extends ../node_modules/jade-bootstrap/_bootstrap

block body
	+navbar("Colenso Project", "dropdown_menu")
			+nav_item("/") Home
			+nav_item("/search","active") Search
			+nav_item("/statistics") statistics
	.container
		h1= title
		p| Welcome to #{title}. We have an easy system for you to use to search through our stock of coleno letters
