extends layout

block  body
	+navbar("Colenso Project", "dropdown_menu")
			+nav_item("/") Home
			+nav_item("/search") Search
			+nav_item("/statistics","active") statistics
	.container
		h1= title
		p| Welcome to #{title}. We have many search statistics ready for you
		p  #{thing}
		- each val in thing
			+panel-info(stuff)
				p!=	val