extends layout

block body
	.jumbotron
		+navbar("Colenso Project", "dropdown_menu")
			+nav_item("/") Home
			+nav_item("/list") Document list
			+nav_item("/search") Search
		.container
			h1= title
			p| Welcome to #{title}. 
	.container
		+a-btn-success("/download?path=" + docPath) Download Raw Document
		br
		br
		if viewTEI == "true"
			+a-btn-primary("/view?path=" + docPath + "&tei=false") View without tags
			br
			br
			+panel-info(docPath)
				p #{document}
		else
			+a-btn-primary("/view?path=" + docPath + "&tei=true") View with tags
			br
			br
			+panel-info(docPath)
				p !{document}
			