extends layout

block body
	+navbar("Colenso Project", "dropdown_menu")
			+nav_item("/", "active") Home
			+nav_item("/search") Search
			+nav_item("/statistics") statistics
	.container
		h1= title
		p| Welcome to #{title}. We have an excellent collection of letters in stock for you.
	.container
		+panel-info(docPath)
			p	#{document}
			br
			br
			p	!{document}
			