extends layout

block body
	+navbar("Colenso Project", "dropdown_menu")
			+nav_item("/") Home
			+nav_item("/search") Search
			+nav_item("/statistics") statistics
	.container
		h1= title
		p| Welcome to #{title}. We have an excellent collection of letters in stock for you.
	.container
		if viewTEI == "true"
			+a-btn-primary("/view?path=" + docPath + "&tei=false") View without tags
			br
			+panel-info(docPath)
				p #{document}
		else
			+a-btn-primary("/view?path=" + docPath + "&tei=true") View with tags
			br
			+panel-info(docPath)
				p !{document}
			